DIV    { 
	border:         3px solid blue!important;
	border-radius: 1em !important  ;
	padding: 0 1em  !important;
}

#navigation {
	background: lightgreen; /* Green as a comment */
}

.wichtig {
color: red;
font-weight: bold;
}

/* Dies ist ein Kommentar. Er besitzt keine Auswirkungen. ÄÖÜ */


/* Dies ist ein Kommentar.
 *  Er besitzt keine Auswi
 rkungen. ÄÖÜ */

//Fake kommentar


body { 
  background: skyblue;                                              
  background: linear-gradient(white, skyblue);				     
}

.btn {
  background-image: initial;  // dumb comment
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  // another dumb comment
  //wat
  //
  //nani?
  
  
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;

  /*
   * 日本語でおk。
   */

  background-clip: initial;
  background-color: red;
}

